
/*=============== PROJECTS ===============*/

.btn-link:hover {
  opacity: 0.75;
}

/* .project_card {
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
} */

.project_card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}